.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #e9e3dd;
    box-shadow: 0 5px 15px rgb(247, 185, 185);

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

    & li {
        list-style: none;
        padding: 0 20px;
    }

    & a{
        text-decoration: none;
        font: 16px;
        font-weight: 600;
        color: #000000;
        transition: 0.5 ease;
    }

    & a:hover{
        color: #41fff2;
    }
}

/* --------------------------------------------- */

/* responsive navbar */
